@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Silkscreen:wght@400;700&display=swap');
root{
--madder: #a20021ff;
--folly: #f52f57ff;
--sandy-brown: #f79d5cff;
--pumpkin: #f3752bff;
--titulo: 
--texto: 
}